.bg-mango-orange {
    background-color: #fd7e14;
    color: #fff;
}



.bg-mango-orange:hover {
    color: #fff;
}

.text-mango-orange {
    color: #fd7e14;
}



.bg-mango-green {
    background-color: #367c38;
}

.f2f2f2 {
    background-color: #f2f2f2;
}
