body {
    overflow-y: scroll;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    width: 100%;
    background-color: #fafcfc;
    ;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 5px 5px grey;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar i {
    padding-top: 30px;
    color: #484847;
    text-decoration: none;
    cursor: pointer;
}

.navbar .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.nav-right a {
    font-size: 15px;
    color: black;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.logo {
    width: 250px;
    height: 74px;
    float: left;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%;
}

.main-section small {
    font-size: 12px;
}

.main-section h3,
.main-section h5 {
    margin: 0px;
}

.main-section {
    background-color: #fff;

}

.head-section {
    border-bottom: 1px solid #bfbfbf;
    height: 80px;
    background-color: #F0F0F0;
}

.column {
    float: left;
    padding: 10px;
    height: calc(88vh - 1px);
}

.left {
    width: 20%;
    border-right: 1px solid #bfbfbf;
    padding: 0px;
}

.headLeft-sub {
    padding: 5px;
    text-align: center;
}

.headLeft-section input {
    border: 1px solid #bfbfbf;
    padding: 7px;
    border-radius: 15px;
    outline: none;
    width: 90%;

}

.headLeft-sub button {
    background: #484847;
    color: #fff;
    border: 1px solid #bfbfbf;
    padding: 7px 15px;
}

.headLeft-sub button:hover {
    background: #ffa50a;
    color: white;
}

.headLeft-sub .mnu-btns button {
    background: #ffa50a;
    color: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding-top: 10px;
    outline: none;
    cursor: pointer;
}

.headLeft-sub .mnu-btns button:hover {
    background: #D28500;
    color: #FAF5EC;
}

.left .body-section {
    height: calc(86% - 1px);
    background-color: #fafafa;
}

.left .body-section::-webkit-scrollbar {
    width: 3px;
}

.left .body-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.left .body-section::-webkit-scrollbar-thumb {
    background: #888;
}

.left li:hover {
    background-color: #F0F0F0;
}

.left ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

}

.left ul li {
    padding: 15px 0px;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
    height: 50px;
}

.left #chats {
    display: none;
}

.left.chatList {
    overflow: hidden;
    width: calc(100% - 1px)
}

.left .chatList .img {
    width: 60px;
    float: left;
    text-align: center;
    position: relative;

}

.left .chatList i {

    font-size: 10px;
    color: #00bd9d;
    border: 1px solid #fff;
    border-radius: 50%;
    float: right;

}

.left .chatList .desc {
    width: calc(100% - 60px);
    float: left;
    position: relative;

}

.left .chatList .desc h5 {
    margin-top: 6px;
    line-height: 5px;
}

.left .chatList .desc .time {
    right: 10px;
    color: #898989;
    position: absolute;
}

.left #contacts {
    display: none;
}

.left .contactList {
    overflow: hidden;
    width: 400px;
}

.left .contactList .img {
    width: 60px;
    float: left;
    text-align: center;
    position: relative;

}

.left .contactList .desc {
    width: calc(100% - 60px);
    float: left;
    position: relative;
    padding-top: 20px;
}

.left .contactList .desc h5 {
    margin-top: 6px;
    line-height: 5px;
}

.left #mail {
    display: none;
}

.left .mailList {
    overflow: hidden;
    padding-left: 5px;
}

.left .contactList .img {
    width: 60px;
    float: left;
    text-align: center;
    position: relative;

}

.left .mailList .desc {
    width: calc(100% - 5px);
    float: left;
    position: relative;
}

.left .mailList .desc h5 {
    margin-top: 6px;
    line-height: 5px;
}

.left #mail {
    display: none;
}

.left .mailList {
    overflow: hidden;
}

.left .mailList .desc h5 {
    font-size: 16px;
}

.left .mailList .desc p {
    font-size: 15px;
    line-height: 6px;
}

.left .mailList .desc .time {
    float: right;
    color: #898989;
}

.center {
    width: 40%;
    padding: 0px;
    overflow: hidden;
    border-right: 1px solid #bfbfbf;
}

.headCenter-section #menu-attach {
    color: #898989;
}

.headCenter-section #menu-search {
    color: #898989;
}

.headCenter-section #menu-vid-call {
    color: #898989;
}

.headCenter-section #menu-voi-call {
    color: #898989;
}

.headCenter-section #menu-options {
    color: #898989;
}

.headCenter-sub {
    padding: 10px 15px 0px 15px;
}

.headCenter-section #chat-menu {
    display: none;
}

.headCenter-section #muzala-prof {
    display: none;
}

.headCenter-section #beenzu-prof {
    display: none;
}

.headCenter-section #jane-prof {
    display: none;
}

.headCenter-section #lombe-prof {
    display: none;
}

.headCenter-section #kapesa-prof {
    display: none;
}

.headCenter-section #choolwe-prof {
    display: none;
}

.headCenter-section #precious-prof {
    display: none;
}

.headCenter-section #ashley-prof {
    display: none;
}

.headCenter-section #dave-prof {
    display: none;
}

#chat-menu {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

}

.attach .dropdown-content-attach {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 35px;
}

.attach .dropdown-content-attach button {
    background: #ffa50a;
    color: #fff;
    text-decoration: none;
    display: block;
    transform: translateX(-15%);
    border-radius: 25px;
    outline: none;
    border: none;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    height: 50px;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.attach .dropdown-content-attach button:hover {
    background: #D28500;
    color: #FAF5EC;
}

#chat-menu .dropdown-search {
    display: flex;
}

#chat-menu .dropdown-search input {
    height: 30px;
    width: 170px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #bfbfbf;
    padding-left: 10px;
    display: none;
}

#chat-menu .dropdown-search #arrow-menu-search {
    display: none;
    color: #898989;
    cursor: pointer;
}

.center .body-section {
    height: calc(86% - 1px);
    width: 100%;
    overflow: hidden;
}

.center-section-middle {
    padding: 15px;
    height: 80%;
    background-image: url("img/backimage.png");
    display: none;
}

.center-section-middle::-webkit-scrollbar {
    width: 3px;
}

.center-section-middle::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.center-section-middle::-webkit-scrollbar-thumb {
    background: #888;
}

.message {
    font-family: sans-serif;
}

.message ul {
    padding: 0px;
    list-style: none;
    margin: 0px auto;
    width: 90%;
    overflow: hidden;
}

.message ul li {
    position: relative;
    width: 100%;
    padding: 5px 0px;
    clear: both;

}

.message ul li.msg-left {
    float: left;
}

.message ul li.msg-left img {
    position: absolute;
    width: 40px;
    bottom: 10px;
}

.message ul li.msg-left .msg-desc {
    margin-left: 70px;
    font-size: 15px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message ul li.msg-left .msg-desc:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: white;
    bottom: 0px;
    left: -10px;

}

.message ul li.msg-left small {
    float: left;
    color: #898989;
    padding-left: calc(15% - 1px);
    padding-top: 2px;
}

.message ul li.msg-right {
    float: right;
}

.message ul li.msg-right img {
    position: absolute;
    width: 40px;
    right: 0px;
    bottom: 10px;
}

.message ul li.msg-right .msg-desc {
    margin-right: 70px;
    font-size: 15px;
    background: #CCFFCC;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message ul li.msg-right .msg-desc:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #CCFFCC;
    bottom: 0px;
    right: -10px;
}

.message ul li.msg-right small {
    float: right;
    color: #898989;
    ;
    margin-right: calc(15% - 1px);
    padding-top: 2px;
}

.message ul li.msg-day {
    border-top: 1px solid #EBEBEB;
    width: 100%;
    padding: 0px;
    margin: 15px 0px;
}

.message ul li.msg-day small {
    position: absolute;
    top: -10px;
    background: #F6F6F6;
    color: #898989;
    ;
    padding: 3px 10px;
    left: 50%;
    transform: translateX(-50%);
}

.body-section #default-message #mango-chatbox {
    width: 240px;
    height: 200px;
    padding-left: 30%;
    padding-top: 20%;
}

.body-section #default-message p {
    text-align: center;
    color: #898989;
}

.center-section-middle #muzala-msg {
    display: none;
}

.center-section-middle #beenzu-msg {
    display: none;
}

.center-section-middle #jane-msg {
    display: none;
}

.center-section-middle #lombe-msg {
    display: none;
}

.center-section-middle #kapesa-msg {
    display: none;
}

.center-section-middle #choolwe-msg {
    display: none;
}

.center-section-middle #precious-msg {
    display: none;
}

.center-section-middle #ashley-msg {
    display: none;
}

.center-section-middle #dave-msg {
    display: none;
}

.center-section-bottom {
    background: #e1e1e1;
    padding: 15px;
    padding-top: 20px;
    bottom: 0px;
    border-top: 1px solid #bfbfbf;
    border-right: 2px solid #e1e1e1;
    text-align: center;
    height: 20%;
    display: none;
}

.center-section-bottom input {
    border: 1px solid #bfbfbf;
    padding: 8px 15px;
    width: calc(100% - 150px);
    outline: none;
}

.center-section-bottom .btn-send {
    border: 0px;
    padding: 8px 10px;
    float: right;
    margin-right: 30px;
    color: #009EF7;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
}

.right {
    background-color: #fafafa;
    width: 39.8%;
    padding: 0px;
}

.headRight-sub {
    text-align: center;
    padding: 15px;

}

.headRight-sub button {
    padding: 7px 15px;
    border-radius: 5px;
    background: #ffa50a;
    color: #fff;
    border: 1px solid #bfbfbf;
    outline: none;
    cursor: pointer;
}

.headRight-sub button:hover {
    background: #D28500;
    color: #FAF5EC;
}